<div id="links">
  <div class="jumbotron">
    <h1>Links</h1>
    Koottu sekalaisia linkkejä.
  </div>
  <div class="row">
    <div class="col-6 col-sm-6 col-lg-4">
      <span class="label label-primary">Rails</span>
      <%= link_to "http://stackoverflow.com/questions/4161357/how-do-i-reverse-a-rails-generate", class: 'list-group-item' do %>
          Reverse scaffolding
      <% end %>
    </div>
    <div class="col-6 col-sm-6 col-lg-4">
      <span class="label label-primary">Linux</span>
      <%= link_to "Change folder owner recursively", "http://www.linuxquestions.org/questions/linux-general-1/changing-owner-of-a-directory-recursively-284767/", class: 'list-group-item' %>
      <%= link_to "Check user group", "http://www.howtogeek.com/howto/ubuntu/see-which-groups-your-linux-user-belongs-to/", class: 'list-group-item' %>
    </div>
  </div>
</div>