<ul class="nav navbar-nav pull-right">
  <li>
    <% if current_user %>
        <%= link_to "Log out", log_out_path %>
    <% else %>
        <%= link_to "Sign up", sign_up_path %>
    <% end %>
  </li>
  <li>
    <% if current_user == nil %>
        <%= link_to "log in", log_in_path %>
    <% end %>
  </li>
  <li>
    <% if current_user %>
        Logged in as <%= current_user.email %>
    <% end %>
  </li>
</ul>