<div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
  <div class="list-group">
    <%= link_to root_path, class: 'list-group-item' do %>
        <i class="fa fa-home"><%= t('home') %></i>
    <% end %>
    <%= link_to links_path, class: 'list-group-item' do %>
        <i class="fa fa-tags"><%= t('links') %></i>
    <% end %>

  </div>
</div>